@charset "utf-8";
/* CSS Document */

.CTab, .ETab {
	animation:tabMove .5s ease-in;
}

@keyframes tabMove{
	  0%{ opacity:0;}
	100%{ opacity:1;}
}

nav {
	animation:navMove .5s ease-in;
}

@keyframes navMove{
	  0%{transform: translateX(-100px);opacity:0;}
	100%{transform: translateX(0);opacity:1;}
}

.SiteDescription {
	animation:SDMove .75s ease-in;
}

@keyframes SDMove{
	  0%{transform: translateX(100%); opacity:0;}
	60%{transform: translateX(100%); opacity:0;}
	80%{transform: translateX(50%); opacity:0;}
	100%{transform: translateX(0px); opacity:1;}
}

.SiteGenInfo {
	animation:GIMove 1.5s ease-in;
}

@keyframes GIMove{
	  0%{transform: translateY(-100%); opacity:0;}
	60%{transform: translateY(-100%); opacity:0;}
	80%{transform: translateY(-50%); opacity:0;}
	100%{transform: translateY(0px); opacity:1;}
}
